.modal-window {
  max-height: 90vh;
  overflow-y: scroll;
  width: 19rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white);
  > .icon {
    width: 1.8rem;
    height: 1.8rem;
    top: -0.25rem;
  }
  > form {
    width: 14rem;
  }
}

.modal-btn-bar {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  justify-content: end;
  padding-right: 0.25rem;
  padding-bottom: 0.25rem;
}

.modal-btn {
  font-size: 0.75rem;
  font-weight: 100;
  padding: 0.25rem 0.6rem;
  border-radius: 0.635rem;
  border: 1px solid var(--medium);
  color: var(--medium);
}
.confirm-btn {
  background-color: var(--medium);
  border: 1px solid var(--medium);
  color: var(--white);
  border: none;
}
.priority-btn {
  border: 1px solid var(--light);
  > * {
    width: 4ch;
    color: var(--darkest);
  }
}
.Low {
  background-color: rgb(119, 236, 119);
}
.Med {
  background-color: rgb(255, 247, 129);
}
.High {
  background-color: rgb(255, 137, 137);
}
