.modal-form,
.modal-msg {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--medium);
  > div {
    width: 100%;
    border: 1px solid var(--medium);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    padding: 1rem;
    position: relative;
    > p {
      font-size: 1rem;
      position: absolute;
      top: -1.3ch;
      background-color: white;
      padding: 0 0.3rem;
      font-weight: 300;
    }
  }
}
.list-input-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  > input {
    width: 75%;
  }
}
.todo-misc {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  gap: 0.3rem;
}
